<div class="container">
    <div class="table-responsive">
        
        <table class="table table-condensed ">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactionList">
                    <td>{{transaction.customerName}}</td>
                    <td>{{transaction.description}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.type}}</td>
                    <td>
                        <button class="btn btn-primary"> Edit </button>
                    </td>
                    <td>
                        <button class="btn btn-warning"> Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <button class="btn btn-primary"> Add </button>
</div>